Repository kvncampos/nautobot_mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pytest

ruff:
  name: ruff
  entry: uv run ruff format .
  language: system
  pass_filenames: true

pytest:
  name: pytest
  entry: uv run pytest
  language: system
  pass_filenames: false
  always_run: false

mit added
  LICENSE
Due: none

added test for http-server
  pyproject.toml
  server_http.py
  tests/test_http_server.py
  uv.lock
Due: ruff, pytest

updated .env.example
  .env.example
Due: none

updated MCP configuration json readme
  README.md
Due: none

updated the cache_embedding of test model to not run on import
  utils/cache_embedding.py
Due: ruff

updated example schema fetch
  examples/fetch_schema.py
Due: ruff

fixed ruff for fetch_schema example
  examples/fetch_schema.py
Due: ruff

updated readme example for copilot
  README.md
Due: none

updated index.md page
  docs/index.md
Due: none

fixing base url duplication path
  server_http.py
  utils/config.py
  uv.lock
Due: ruff

updated tool descriptions
  server_http.py
Due: ruff

Create AGENT.md for MCP Code Architect
  .github/agents/my-agent.agent.md
Due: none

Rename my-agent.agent.md to nautobot_mcp_agent.md
  .github/agents/nautobot_mcp_agent.md
Due: none

Rename nautobot_mcp_agent.md to nautobot.agent.md
  .github/agents/nautobot.agent.md
Due: none

Refactor agent description and responsibilities
  .github/agents/nautobot.agent.md
Due: none

Modify agent name and description
  .github/agents/my-agent.agent.md
Due: none

Add nautobot-mcp-architect agent documentation
  .github/agents/nautobot-mcp-architect.agent.md
Due: none

Delete .github/agents/my-agent.agent.md
  .github/agents/my-agent.agent.md
Due: none

added health endpoint
  server_http.py
  utils/config.py
  uv.lock
Due: ruff

updated dockerfiles
  DOCKER.md
  Dockerfile
  docker-compose.yml
  docs/development.md
Due: none

fixing lock file
  .github/workflows/ci.yml
  DOCKER.md
  Dockerfile
  docs/development.md
  uv.lock
Due: none

updating port mapping
  DOCKER.md
  docker-compose.yml
Due: none

ruff ran
  main.py
Due: ruff

udpdated docker ci
  .github/workflows/docker.yml
Due: none

push to dockerhub
  .github/workflows/docker.yml
Due: none

new db mcp server alt
  .env.example
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  ruff: any of: \.py$
  pytest: any of: ^tests/.*\.py$
